/* Stile per il formulario */
.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-holder {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stile per gli input di testo */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Stile per il pulsante di invio */
#submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#submit:hover {
    background-color: #0056b3;
}

.modal-backdrop.show {
    opacity: -1.5;
}